@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}



body
{
   overflow-x: hidden;  
}

:root
{
   /* --primary-color: rgb(65, 63, 70);
    --secondary-color: #fff;*/
    --primary-color: #fff;
    --secondary-color: rgb(65, 63, 70);
}

.container
{
    position: relative;
    width: 100%;
}

.navigation
{
    position: fixed;
    width: 300px;
    height: 100%;
    background: rgb(170, 96, 212);
    transition: 0.5s;
    overflow: hidden;
    line-height: 50px;
}

.navigation.active
{
width: 60px;
}

.navigation ul
{
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
}

.navigation ul li
{
    position: relative;
    width: 100%;
    list-style: none;
}

.navigation ul li:hover
{
    background: rgb(149, 45, 209);

}

.navigation ul li:nth-child(1):hover
{
    background: transparent;
}

.navigation ul li a
{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: black;
}

.navigation ul li a .icon
{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}



.main
{
    position: relative;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: var(--primary-color);
    transition: 0.5s;
    justify-content: space-between;
}

.main.active
{
    width: calc(100% - 60px);
    left: 60px;
}

.main .topbar {
    position: absolute;
    width: 100%;
    background: var(--primary-color);
    height: 60px;
    padding-left: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toggle
{
    position: relative;
    width: 70px;
    height: 60px;
    background:var(--primary-color);
    cursor: pointer;
}

.main .user
{
    position: relative;
    display: flex;
    height: 50px;
    width: 50px;
}

.toggle::before
{
    content: '\f0c9';
    font-family: fontAwesome;
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 60px;
    font-size: 30px;
    text-align: center;
    color: black;
}


.search
{
   
    position: relative;
    width: 100%;
    margin: 0 10px;

}

.search label
{   overflow: auto;
    position: relative;
    width: 100%;

}

.search label input
{ 
    width: 100%;
    height: 40px;
    border-radius: 20px;
    padding: 5px 20px;
    padding-left: 40px;
    outline: rgb(177, 102, 202);
}

.search label .fa 
{
    position: absolute;
    left: 15px;
    top: 4px;
}

.cardBox
{ 
    width: 100%;
    text-align: center;
    top: 60px;
    position: relative;
    
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
   
    
}

.cardBox1
{
    width: 100%;
    text-align: center;
top: 35px;
    position: relative;
    
    padding: 20px;
    display: grid;
    grid: template columns 1fr;;
  
   
}

.cardBox .card
{
    width:100%;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #d7bdec;
  border-radius: 10px;
}

.cardBox .card .numbers
{
    position: relative;
    font-size: 1.5em;
    font-weight: 500;
}

.cardBox .card .cardName
{
    color: rgb(113, 72, 167);
}

.cardBox .card .iconBox
{
    font-size: 1.5em;
    color: salmon;
}

.details
{
    text-align: center;
    position: relative;
    width: 100%;
    padding: 20px;
    padding-top: 0;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 2fr 1fr;
}

.details1
{
    
    text-align: center;
    position: relative;
    width: 100%;
    padding: 20px;
    padding-top: 0px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr ;
}

.details .recentOrders
{
    top: 50px;
    position: relative;
   
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    min-height: 400px;
    background: #d7bdec;
    padding: 20px;
    border-radius: 10px;
}

.details1 .custdetails 
{
    
    position: relative;

    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    min-width: auto;
    min-height: 600px;
    background: #d7bdec;
    padding: 20px;
    border-radius: 10px;
}

.details1 .cardHeader
{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: flex-start;
}

.cardHeader
{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: flex-start;
}

.cardHeader h2
{
    font-weight: 600;
}

.btn
{
    position: relative;
    padding: 5px 10px;
    background: salmon;
    color: black;
    text-decoration: none;
    border-radius: 10px;
    
}

.details table
{
    width: 100%;
    border-collapse: collapse;
    margin-top: 5px;

}

.details table thead td
{
    font-weight: 700;
}
.details table thead td:first-child
{
    text-align: left;

}
.details table thead td:last-child
{
    text-align: right;
}
.details .recentOrders table tr
{
    border-bottom: 1px solid rgb(177, 102, 202);
}

.details .recentOrders table tr:hover
{
    background: rgb(174, 115, 209) ; 
}

.details .recentOrders table tbody tr:last-child
{
border-bottom:none;
}

.details .recentOrders table tr td
{
padding: 9px 5px;

}
.details .recentOrders table tbody tr td:first-child
{
text-align: left;
}

.details .recentOrders table tbody tr td:last-child
{
    text-align: right;
}


.details .recentOrders table tbody tr td:nth-child(3)
{
    text-align: center;
}
.status
{
    position: relative;
    padding: 2px 4px;
    background-color: rgb(223, 43, 43);
    color: white;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
}

.paid
{
    background-color: rgb(67, 196, 67);
}

.process
{
    background-color: rgb(228, 228, 72);

}


.details .recentCustomers
{  
     
    top: 50px;
    position: relative;
    display: grid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    min-height: 400px;
    background: #d7bdec;
    padding: 20px;
    border-radius: 10px;
}


.details .recentCustomers table tr
{
    border-bottom: 1px solid rgb(177, 102, 202);
}

.details .recentCustomers table tr:hover
{
    background: rgb(174, 115, 209) ; 
}

.details .recentCustomers table tbody tr:last-child
{
border-bottom:none;
}

.details .recentCustomers table tr td
{
padding: 9px 5px;

}

.details .recentCustomers table tbody tr td:last-child
{
    text-align: right;
}

@media (max-width: 992px)
{
    .navigation
    {
        left: -300px;
    }
    .navigation.active
    {
        left: 0;
        width: 300px;
    }
    .main{
        width: 100%;
        left: 0;

    }
    .main.active
    {
        width: calc(100% - 300px);
        left: 300px;
    }
    .cardBox {
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width:768px)
{
    .details
    {
        grid-template-columns: repeat(1,1fr);
    }
    .cardHeader h2 
    {
        font-weight: 600;
        font-size: 18px;
    }
}

@media (max-width: 480px)
{
    .cardBox
    {
        grid-template-columns: repeat(1,1fr);
    }
    .details .recentOrders
    {
        overflow: auto;
    }
    .details .recentOrders table 
    {
        width: 600px;

    }
    .navigation
    {
        width: 100%;
        left: -100%;
        z-index: 1000;
    }
    .navigation.active
    {
        width: 100%;
        left: 0;

    }
    .toggle.active
    {
        z-index: 1000;
    }
    .toggle.active::before
    {
        background-color: rgb(170, 96, 212);
    }
}


.details1 table
{
    width: 100%;
    border-collapse: collapse;
    margin-top: 5px;

}

.details1 table thead td
{
    font-weight: 700;
}
.details1 table thead td:first-child
{
    text-align: left;

}
.details1 table thead td:last-child
{
    text-align: right;
}
.details1 .custdetails table tr
{
    border-bottom: 1px solid rgb(177, 102, 202);
}

.details1 .custdetails table tr:hover
{
    background: rgb(174, 115, 209) ; 
}

.details1 .custdetails table tbody tr:last-child
{
border-bottom:none;
}

.details1 .custdetails table tr td
{
padding: 9px 5px;

}
.details1 .custdetails table tbody tr td:first-child
{
text-align: left;
}

.details1 .custdetails table tbody tr td:last-child
{
    text-align: right;
}


.details1 .custdetails table tbody tr td:nth-child(3)
{
    text-align: center;
}
